
<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h3 class="panel-title">Search :</h3>
    </div>

    <div class="panel-body">
        <div class="container">
            <span style="width:20%" >Search Project:  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Enter Project Name" style="width:60%" /></span>
            <br>
            <span><button class="btn btn-primary" (click)="getAllProjects('startDate')">Start Date</button> </span> &nbsp;
            <span><button class="btn btn-primary" (click)="getAllProjects('endDate')">End Date</button> </span>  &nbsp;
            <span><button class="btn btn-primary" (click)="getAllProjects('priority')">Priority</button> </span>
        </div>
    </div>

    <div class="panel-body">
    <table  class="table table-striped">
        <thead></thead>
        <tr>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Manager Name</th>
            <th>Priority</th>
            <th></th>
            <th></th>
        </tr>


        <tbody>
            <tr *ngFor="let project of allProjects | filter:searchText">
                <td>{{project.projectName}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.endDate}}</td>
                <td>{{project.managerName}}</td>
                <td>{{project.priority}}</td>
                <td><button class="btn btn-primary" (click)="editProject(project.projectId)"> Update </button></td>
                <td><button class="btn btn-primary" (click)="deleteProject(project.projectId)"> Suspend </button></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>